include includes/head.jade
.modal_image
	img#close_modal(src='img/icons/close.svg')
	img#big_product_image(src='img/knife/prod1.png')
include includes/header.jade
.container-fluid
	.row
		.col-md-8
			.product_image
				img(src='img/knife/ris-nozh-65x13.png')
		.col-md-4
			.product_description